:root{
    --primary-light: rgb(255, 175, 175);
    --primary-dark: rgb(103, 0, 0);
    --secondary-light: rgb(213, 165, 213);
    --secondary-dark: rgb(79, 30, 79);

    --gray-light: rgb(235, 235, 235);
    --gray-dark: rgb(47, 47, 47);
}

body{
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--gray-light);
}
.nav-top{
    justify-content: center;
    display: flex;
    flex-grow: 1;
}
.nav-bottom{
    display: flex;
    justify-content:space-around ;
    flex-grow: 3;
}

.button{
    display: flex;
    width: fit-content;
    justify-items: center;
    align-items: center;

    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    text-decoration: none;
    transition: filter .1s;
}
.button:hover{
    cursor: pointer;
    filter: brightness(80%);
}
.button:active{
    filter: brightness(110%);
}

.primary-color{
    color: var(--primary-dark);
}
.secondary-color{
    color: var(--secondary-dark);
}

.title{
    font-size: 36px;
}


@media(max-width: 350px){
    .nav-bottom{
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: 40px auto;
    }
    .nav-bottom *{
        display: flex;
        text-align: center;
    }
}