
.nav{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color: var(--gray-light);
}
.nav-top{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
}
.nav-bottom{
    display: flex;
    justify-content:space-around ;
    flex-grow: 3;
}
.title.button{
    align-items: center;
    margin: 5px 15px
}

@media(max-width: 350px){
    .nav-bottom{
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: 40px auto;
    }
    .nav-bottom *{
        display: flex;
        text-align: center;
    }
}