
.attack-table{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border-top: 2px var(--gray-dark) solid;
}
.table-row{
    display: flex;
    align-items: center;
    border-bottom: 2px var(--gray-dark) solid;
    padding: 5px 10px;
}
.table-section{
    flex-grow: 1;
    justify-content: space-between;
}
.table-img{
    width: 70px;
    height: auto;
    transform: rotate(180deg); 
}
.soldiers-display{
    margin-left: 15px;
}
.player-username{
    padding-bottom: 5px;
}
.kingom-title{
    color: var(--gray-dark);
    font-size: 14px;
}
.kingdom-img{
    width: 100px;
    height: 70px;
    margin: 0 10px;
    object-fit: cover;
}
#soldiers{
    font-size: 24px;
    margin: 15px;
}
.small-kingdom-img{
    display: none;
    width: 60px;
    height: 40px;
    margin: 5px;
    object-fit: cover;
}
.player-top{
    display: flex;
    align-items: center;
    justify-content: start;
}

@media(max-width: 550px){
    .table-row{
        padding: 0;
        margin: 0;
    }
    .page{
        padding: 20px;
    }
    .kingdom-img{
        width: 70px;
        height: 40px;
    }
    .table-img{
        width: 40px;
    }
}
@media(max-width: 400px){
    .kingdom-img{
        display: none;
    }
    .small-kingdom-img{
        display: inline;
    }
}
@media(max-width: 300px){
    .player-top{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
    }
}