
.attack-table{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border-top: 2px var(--gray-dark) solid;
}
.table-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px var(--gray-dark) solid;
}
.table-img{
    width: 40px;
    height: auto;
    transform: rotate(180deg); 
}

#soldiers{
    font-size: 24px;
    margin: 15px;
}