.home-img{
    width: 200px;
    height: 175px;
    margin: 5px;
    object-fit: cover;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.selected-img{
    width: 250px;
    height: 200px;
    margin: 5px;
    object-fit: cover;
}
.img-container{
    position: relative;
    margin-bottom: 15px;
}
.selected-title{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transform: translate(-50%, -50%);
}
.img-tab-select{
    display: flex;
    justify-content: space-between;
}
.tab{
    font-size: 24px;
}