:root{
    --primary-light: rgb(220, 176, 176);
    --primary-dark: rgb(103, 0, 0);
    --secondary-light: rgb(213, 165, 213);
    --secondary-dark: rgb(79, 30, 79);

    --gray-light: rgb(235, 235, 235);
    --gray-dark: rgb(47, 47, 47);
}

body, html{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

label{
    font-size: 16px;
    margin-top: 20px;
}
input{
    padding: 10px;
    margin: 10px 5px;
    border-bottom: 3px var(--gray-dark) solid;
    background-color: var(--gray-light);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    width:100%;
}
.column{
    display: flex;
    flex-direction: column;
}
.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 15px 50px;
}
.icon{
    height: 20px;
    margin: 0 5px;
    width: auto;
}
.center{
    text-align: center;
}
.button{
    display: flex;
    width: fit-content;
    justify-items: center;
    align-items: center;

    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    text-decoration: none;
    transition: filter .1s;
}
.button:hover{
    cursor: pointer;
    filter: brightness(80%);
}
.button:active{
    filter: brightness(110%);
}

.primary-color{
    color: var(--primary-dark);
}
.secondary-color{
    color: var(--secondary-dark);
}

.title{
    font-size: 36px;
    padding: 0 15px;
    margin-bottom: 15px;
}
.underlined{
    border-bottom: 2px var(--gray-dark) solid;
}
.error{
    color: red;
}
.note{
    font-size: 14px;
    color: gray;
}
.main.title{
    margin-bottom: 50px;
}

@media(max-width: 350px){
    .page{
        padding: 30px;
    }
}